{% extends 'core/base.html' %}
{% load static %}

{% block additionalStyles %}
  <link rel="stylesheet" href="{% static 'category.css' %}">
{% endblock %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block content %}
  <div class="product-container">
    {% if products %}
      {% for product in products %}
          <div class="product-box">
            <div class="icons">
              <a href="#" class="far fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="{{ product.image.url }}" alt="">
            <h3>organic banana</h3>
            <p class="description multiline">{{ product.description }}
            </p>
            <div class="bottom-section">
              <div class="price">${{ product.price }}</div>
              <div class="quantity">
                <span>quantity: </span>
                <input type="number" min="1" max="100" value="1">
              </div>
              {% if user.is_authenticated %}
                <a href="#" class="btn">add to cart</a>
              {% else %}
                  <p class="warn_info" style="font-size: .9rem;">
                    <a id="a_login" href="{% url 'user:login' %}">login</a> 
                    to add to cart 
                  </p>
              {% endif %}
            </div>
          </div>
      {% endfor %}
    {% else %}
      <p>No products available at the moment.</p>
    {% endif %}
  </div>
{% endblock %}