{% extends 'core/base.html' %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ product.name }}</h1>
    
    <div>
      <img src="{{ product.image.url }}" alt="{{ product.name }} Image">
    </div>

    <p>Description: {{ product.description }}</p>
    
    <p>Price: ${{ product.price }}</p>
    
    <!-- Add more information about the product as needed -->

    <!-- You can add more HTML and template tags based on your needs -->

    <!-- Example: Add a "Add to Cart" button if user is authenticated -->
    {% if user.is_authenticated %}
     {% comment %} <form method="post" action="{% url 'add_to_cart' product.id %}"> {% endcomment %}
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
      </form>
    {% else %}
      <p><a href="{% url 'user:login' %}">Login</a> to add to cart</p>
    {% endif %}
  </div>
{% endblock %}