{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <!--logo-->
            <a href="#" class="logo">
                Logo buraya gelcek
            </a>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-links">
            <strong>About</strong>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                doloremque est laborum impedit necessitatibus rem, ducimus, consectetur eligendi consequatur sint
                assumenda a unde tempora facilis adipisci cum doloribus repellendus omnis?</p>
        </div>
        <div class="footer-links">
            <strong>Menu</strong>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Term of Use</a></li>
                <li><a href="#">License</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <strong>Contact</strong>
            <ul>
                <li><a href="#">Phone : +123456789</a></li>
                <li><a href="#">Email : abc@gmail.com</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="credit">created by <span> çok güçlü üçlü </span> all rights reserved!</div>