{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <!--logo-->
            <a href="{% url 'core:index' %}" class="logo">
                <img id="footer-logo" class="logo" src="{% static 'images/trlogo.png' %}" >
            </a>
            <div class="footer-social">
                <a href="{% url 'core:index' %}"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'core:index' %}"><i class="fab fa-twitter"></i></a>
                <a href="{% url 'core:index' %}"><i class="fab fa-instagram"></i></a>
                <a href="{% url 'core:index' %}"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-links">
            <strong>About</strong>

            <p id="footer-about">At Grocery Go, we understand that the heart of every home is its kitchen, and we are here to make your daily shopping experience seamless, convenient, and delightful. Our commitment is simple - to bring you the freshest produce, pantry essentials, and household items right to your doorstep.</p>
        </div>
        <div class="footer-links">
            <strong>Menu</strong>
            <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Term of Use</a></li>
                <li><a href="">License</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <strong>Contact</strong>
            <ul>
                <li><a id="footer-phone">Phone  : +0123456789</a></li>
                <li><a id="footer-email">Email  : info@grocerygo.com</a></li>
                <li><a id="footer-address">Adress : No: 19, Grocery Street, Konak, Izmir, 35000</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="credit">created by <span> çok güçlü üçlü </span> all rights reserved!</div>