{% load static %}
{% block additionalStyles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
{% endblock %}

{% if messages %}
    <ul class ="container-fluid p-0 m-0">
        {% for message in messages %}
            <div id="errorMessages" class = "alert {{ message.tags }} alert-dismissible fade show mb-0 text-center">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    </ul>
{% endif %}


{% block additionalScripts %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}