{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navigation">
    
    <div id="website-name">
        <a href="{% url 'core:index' %}" ><img id="logo" class="logo" src="{% static 'images/trlogo.png' %}" alt=""></a>
        <a href="{% url 'core:index' %}" class="grocery-go-link">
            <span class="grocery-go">Grocery GO</span>
        </a>
    </div>

    <div id="category-dropdown-menu" class="category-dropdown">
        <a id="category-title" class="title-categories">Categories</a>
        <div class="category-dropdown-content">
            <script src="{% static 'js/category-dropdown.js' %}"></script>
            <script src="{% static 'js/navbar.js' %}"></script>
            <script>loadCategories("{% url 'item:get_categories' %}")</script>
        </div>
    </div>
    

    <form action="#" class="search-box" onsubmit="return false;">
        <script src="{% static 'js/search.js' %}"></script>
        <i class="fas fa-search"></i>
        <input type="text" class="search-input" placeholder="e.g. Potato, Tomato, Orange Juice" name="search" required>
        <input type="submit" class="search-btn" onclick="return searchProducts();" value="search">
    </form>

    <div class="right-nav">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a id="admin-icon" href="{% url 'admin:index' %}" class="admin">
                    <i class="fas fa-users-cog"></i>
                </a>
            {% endif %}
           
                <a id="user-icon" class="user">
                    <i class="fas fa-user"></i>
                </a>

                <div id="user-menu" class="user-dropdown-content">
                    <script src="{% static 'js/user-menu.js' %}"></script>
                    <a href="{% url 'user:profile' %}">
                        <i class="fas fa-address-card"></i>
                        <p> My Profile</p>
                    </a>
                    {% if not user.is_staff %}
                        <a id="order-icon" href="{% url 'order:order-history' %}" class="order">
                            <i class="fas fa-shipping-fast"></i>
                            <p>My Orders</p>
                        </a>
                        <a href="{% url 'user:address' %}">
                            <i class="fas fa-map-marked-alt"></i>
                            <p>My Addresses</p>
                        </a>
                    {% endif %}
                        
                    <a id="logout-icon" href="{% url 'user:logout' %}" class="logout">
                        <p>Log out</p>
                        <i class="fas fa-sign-out"></i>
                    </a>   
                </div>
            
           
            
            
            <a id="cart-icon" href="{% url 'cart:cart' %}" class="cart" data-update-url="{% url 'cart:update_navbar_cart' %}">
                <i class="fas fa-shopping-cart"></i>
                <span>0</span>
                <script onload="updateNavbarCart()" src="{% static 'js/cart-icon.js' %}"></script>
            </a>
            
            
        {% else %}
            <a id="user-icon" class="user">
                <i class="fal fa-user"></i>
            </a>
            {% include "user/login.html" %}
            
        {% endif %}
    </div>

    
</nav>