#home-banner {
    max-width: 100%; /* Adjusted to be responsive */
    height: 60vh; /* 60% of the viewport height */
    border-radius: 30px;
    background-color: #ecf7ee;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire container */
    background-position: center right; /* Center horizontally, bottom vertically */
    padding: 20px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Add a smooth transition for opacity changes */
    position: relative;
}

#home-banner.banner-hidden {
    opacity: 0.25;
}

.bg-1 {
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.bg-2 {
    width: 150px;
    position: absolute;
    left: 60%;
    transform: translateY(-60%);
    top: -75px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}

.bg-3 {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.home-banner {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
}

.home-banner-text h1 {
    font-size: 3rem;
    line-height: 60px;
    color: #202020;
}

.home-banner-text strong {
    color: #1bac36;
    font-size: 1.4rem;
    margin-top: 4px;
}

#category,
#popular-product,
#feature {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 5rem auto;
}

.category-heading,
.product-heading,
.features-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-heading h2,
.product-heading h3,
.features-heading h3 {
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}

.category-heading span {
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

.category-container {
    gap: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    justify-content: space-evenly;
}

.category-box img {
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.3s;
}

.category-box span {
    color: #393939;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    font-weight: 600;
    text-align: center;
}

.category-box:hover img {
    transform: scale(1.1);
    transition: all ease 0.3s;
}

.product-container,
.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}

.feature-box {
    text-align: center;
}

.feature-img {
    margin-bottom: 1rem;
    height: 10rem;
}