#home-banner {
    max-width: 100%; /* Adjusted to be responsive */
    height: 60vh; /* 60% of the viewport height */
    border-radius: 30px;
    background-color: #ecf7ee;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire container */
    background-position: center right; /* Center horizontally, bottom vertically */
    padding: 20px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Add a smooth transition for opacity changes */
    position: relative;
}

#home-banner.banner-hidden {
    opacity: 0;
}

.bg-1 {
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.bg-2 {
    width: 150px;
    position: absolute;
    left: 60%;
    transform: translateY(-60%);
    top: -75px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}

.bg-3 {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.home-banner {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
}

.home-banner-text h1 {
    font-size: 3rem;
    line-height: 60px;
    color: #202020;
}

.home-banner-text strong {
    color: #1bac36;
    font-size: 1.4rem;
    margin-top: 4px;
}

#category,
#popular-product,
#feature {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 5rem auto;
}

.category-heading,
.product-heading,
.features-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-heading h2,
.product-heading h3,
.features-heading h3 {
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}

.category-heading span {
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.category-box img {
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.3s;
}

.category-box span {
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

.category-box:hover img {
    transform: scale(1.1);
    transition: all ease 0.3s;
}




.product-container,
.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}

.feature-box {
    text-align: center;
}

.feature-img {
    margin-bottom: 1rem;
    height: 10rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.product-container .product-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border: .05rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.product-container .product-box:hover {
    box-shadow: 0 0 10px rgba(23, 199, 55, 0.2);
}

.product-container .product-box:hover .icons {
    right: 1rem;
}

.product-container .product-box img {
    height: 10rem;
}

.product-container .product-box .icons {
    position: absolute;
    top: .5rem;
    right: -6rem;
}


.product-container .product-box .icons a {
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.7rem;
    color: var(--black);
    background: rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin-top: .5rem;

}

.product-container .product-box .icons a.hover {
    background: var(--green);
    color: #fff;

}

.product-container .product-box h3 {
    color: var(--black);
    font-size: 1.2rem;
    text-transform: capitalize;

}

.product-container .product-box .description {
    font-size: .8rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    text-align: center; 
}

.product-container .product-box .description.multiline {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-container .product-box .bottom-section {
    margin-top: auto;
}

.product-container .product-box .price {
    font-size: 1.2rem;
    color: #333;
    padding: .3rem;
    padding-bottom: 0;
}

.product-container .product-box .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
    text-transform: capitalize;
}

.product-container .product-box .quantity span {
    padding: 0.5rem;
    font-size: .9rem;
}

.product-container .product-box .quantity input {
    border: .1rem solid rgba(0, 0, 0, .3);
    max-height: 2rem;
    max-width: 3.5rem;
    font-size: 0.8rem;
    font-weight: bolder;
    color: var(--black);
    padding: .5rem;
    background: rgba(0, 0, 0, .05);
}

.product-container .product-box .btn {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: .3rem;
    display: block;
    background-color: #17c737;
    border-radius: 1rem;
    color: #fff;
}

.product-container .product-box .btn:hover {
    border: 2px solid rgba(23, 199, 55, 0.5);
    background-color: #fff;
    color: #17c737;
}