/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjusts the spacing between the tabs and the logout button */
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
}

.tabs button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.tabs button:hover {
    background-color: #bbb;
}

.logout {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.logout:hover {
    background-color: #45a049;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

/* Show content based on selected tab */
.content.show {
    display: block;
}
