<form action="{% url 'user:login' %}" method="post" class="login-form {% if messages %}active{% endif %}" id="login-form">
    {% csrf_token %}

    <h3>Login</h3>

    <input name="username" type="text" placeholder="Enter your username" class="box">
    <input type="password" name="password" placeholder="Enter your password" class= "box" id="password-input">


    <div class="label-div">
        <input type="checkbox" name="remember_me" id="remember-me">
        <label for="remember-me">Remember me</label>


        <input id="showPassword" type="checkbox">
        <label for="showPassword">Show password</label>
    </div>

    <a class="btn" href="{% url 'core:index' %}" id="login-button" onclick="saveCredentials()" tabindex="0">Login</a>


    <div class="label-div">
        <label>Don't you have an account?</label>
        <a href="{% url 'user:signup' %}" class="signup-link">Sign up</a>
    </div>


</form>