<!-- index.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>Market | Profile</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="tabs">
          <button onclick="showContent('defaultContent')">Profile</button>
          <button onclick="showContent('editProfileContent')">Edit Profile</button>
          <button onclick="showContent('listOrdersContent')">List Orders</button>
        </div>
        <button class="logout" onclick="location.href='{{ logout_url }}'">Logout</button>
      </div>
      <div class="content" id="defaultContent">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ customer.name }} {{ customer.surname }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ customer.email }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ customer.phone }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Area</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ customer.area }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <button onclick="showContent('editProfileContent')" style="background-color: transparent; border: none; color: blue; text-decoration: underline;">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content" id="editProfileContent">
        <h2>Edit Profile</h2>
        <div class="card mb-3">
          <div class="card-body">
            <form method="post" action="{% url 'user:profile' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">First Name</h6>
                </div>
                <input type="text" id="name" name="name" class="form-control" value="{{ customer.name }}" required>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last Name</h6>
                </div>
                <input type="text" id="surname" name="surname" class="form-control" value="{{ customer.surname }}" required>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <input type="email" id="email" name="email" class="form-control" value="{{ customer.email }}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <input type="tel" id="phone" name="phone" class="form-control" value="{{ customer.phone }}" pattern="[0-9]{10}" required>
              </div>
              <hr />
              <div class="form-group">
                <label for="area">Area:</label>
                <select id="area" name="area" class="form-control" required>
                  {% for area in areas %}
                    <option value="{{ area }}" {% if customer.area == area.id %} selected {% endif %}>{{ area.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" style="background-color: transparent; border: none; color: blue; text-decoration: underline;">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="content" id="listOrdersContent">
        <h2>List Orders</h2>
        <ul>
          <li>Order 1: Item A, Item B</li>
          <li>Order 2: Item C, Item D</li>
        </ul>
      </div>
    </div>
    {% load static %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script>
      // Add this script to show the default content on page load
      document.addEventListener('DOMContentLoaded', function () {
        showContent('defaultContent')
      })
    </script>
  </body>
</html>