{% extends 'layout.html' %}

{% load static %}

{% block additionalStyles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}


{% block title %}
    Profile
{% endblock  %}


{% block content %}
<div class="container mt-5">
    <h1>Update Profile</h1>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include "partials/_form.html" %}
        
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <hr>
    </form>
</div>
{% endblock %}