<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Market | Login</title>
  </head>
  <body>
    <div class="maxw-mobile-lg margin-x-auto">
        <form class="usa-form margin-x-auto">
          <fieldset class="usa-fieldset">
            <legend class="usa-legend">Basic Login</legend>
    
            <label class="usa-label" for="basic-username">Username or email</label>
            <input class="usa-input" id="basic-username" name="basic-username" type="text" autocapitalize="off" autocorrect="off" autocomplete="off">
    
            <label class="usa-label" for="basic-password-sign-in">Password</label>
            <input class="usa-input" id="basic-password-sign-in" name="basic-password" type="password" autocomplete="off">
            <p class="usa-form__note">
              <a title="Show password" href="javascript:void(0);" class="usa-show-password"
              aria-controls="basic-password-sign-in">Show password</a>
            </p>
            <input class="usa-button width-full" type="submit" value="Sign in">
    
            <hr class="border-base-lighter border-solid border-width-1px margin-y-4">
    
            <p>
              <a href="javascript:void(0);" title="Forgot username">
                Forgot username?
              </a>
            </p>
            <p>
              <a href="javascript:void(0);" title="Forgot password">
                Forgot password?
              </a>
            </p>
          </fieldset>
        </form>
      </div>
  </body>
</html>
