{% extends "layout.html" %}

{% load static %}


{% block css_files %}
    
{% endblock  %}


{% block page_title %}
    Sign Up
{% endblock  %}




{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1>Sign Up</h1>    
            <hr>
            <form method="post" novalidate>
                {% csrf_token %}

                {% include "partials/_form.html" %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            

            
        </div>
    </div>
</div>


{% endblock content %}


{% block js_files %}
    
{% endblock  %}