<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block additionalStyles %}{% endblock %}
    <title>Market | {% block title %}{% endblock %}</title>
</head>
<body>

    {% include "partials/_navbar.html" %}

    <form action="{% url 'core:login_view' %}" method="post" class="login-form {% if messages %}active{% endif %}" id="login-form">
    {% csrf_token %}

    <h3>Login</h3>

    <input name="username" type="text" placeholder="Enter your username" class="box">
    <input type="password" name="password" placeholder="Enter your password" class="box">

    <div class="remember">
        <input type="checkbox" name="remember_me" id="remember-me">
        <label for="remember-me">Remember me</label>
    </div>

    <a href="#" class="btn" id="login-button">Login</a>

    <span style="font-size: .8rem;">Don't you have an account?</span>
    <a href="{% url 'user:signup' %}" class="signup-link">Sign up</a>

    {% if messages %}
        <ul class="errorlist">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</form>

<script>
document.getElementById('login-button').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default form submission
    document.getElementById('login-form').submit(); // Manually submit the form
});
</script>

    

    {% block content %}{% endblock %}
   
    {% include "partials/_footer.html" %}

    {% block additionalScripts %}
    {% endblock %}
</body>

</html>
