{% extends "layout.html" %}
{% load static %}

{% block additionalStyles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css" id="operaUserStyle"></style>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock %}

{% block title %}Cart{% endblock %} 
{% block content%}


<div class="card">
    <div class="row">
        <div class="col-md-8 shopping-cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{ total_items }} products</div>
                </div>
            </div>
            <div class="products">
            {% for item in items %}
                <div class="product" id="p{{ item.product__id }}">
                    <div class="row main align-items-center">
                        {% get_media_prefix  as MEDIA_PREFIX %}
                        <div class="col-2"><img class="img-fluid" src="{{ MEDIA_PREFIX }}{{ item.product__image }}"></div>
                        <div class="col-5">
                            <div class="row">{{ item.product__name }}</div>
                            <div id="txt-description" class="row text-muted">{{ item.product__description }}</div>
                        </div>
                        <div class="col-2">
                            <button class="action-button" onclick="decreaseQuantity('p{{ item.product__id }}')">-</button>
                            <span class="quantity">{{ item.quantity }}</span>
                            <button class="action-button" onclick="increaseQuantity('p{{ item.product__id }}')">+</button>
                        </div>
                        <div class="col-2 product-price">$ {{ item.product__price }}</div>
                        <button class="action-button close-button" onclick="removeItem('p{{ item.product__id }}')">✕</button>
                    </div>
                </div>
            {% endfor %}
            
            </div>

            <div class="back-to-shop"><a href="#">← <span class="text">Back to shop</span></a></div>




        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col tot-items" style="padding-left:0;">{{ total_items }} ITEMS</div>
                <div class="col text-right tot-price">$ 0.00</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select onclick="updateCart()" id="shippingSelect">
                    <option value="0" class="text-muted">Free-Delivery- $0.00</option>
                    <option value="5" class="text-muted">Private-Delivery- $5.00</option>
                </select>
                <p>Have A Promo Code?</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right tot-price">$ 0.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>

{% endblock %}

{% block additionalScripts %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script>
        updateCart();
    </script>
{% endblock %}