{% extends "layout.html" %}
{% load static %}

{% block additionalStyles %}
{% endblock %}

{% block title %}Cart{% endblock %} 
{% block content%}


<div class="card">
    <div class="row">
        <div class="col-md-8 shopping-cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{ total_items }} products</div>
                </div>
            </div>
            <div class="products">
            {% csrf_token %}
            {% for item in items %}
                <div class="product" id="p{{ item.product__id }}">
                    <div class="row main align-items-center">
                        {% get_media_prefix  as MEDIA_PREFIX %}
                        <div class="col-2"><a href="{% url 'item:product' product_slug=item.product__slug %}"><img class="img-fluid" src="{{ MEDIA_PREFIX }}{{ item.product__image }}"></a></div>
                        <div class="col-5">
                            <div class="row"><a href="{% url 'item:product' product_slug=item.product__slug %}">{{ item.product__name }}</a></div>
                            <div id="txt-description" class="row text-muted">{{ item.product__description }}</div>
                        </div>
                        <div class="col-2 amount">
                            <button class="action-button" onclick="decreaseQuantity('p{{ item.product__id }}')">-</button>
                            <span class="quantity">{{ item.quantity }}</span>
                            <button class="action-button" onclick="increaseQuantity('p{{ item.product__id }}')">+</button>
                        </div>
                        <div class="col-2 product-price">$ {{ item.product__price }}</div>
                        <button style="width: fit-content;" class="action-button close-button" onclick="removeItem('p{{ item.product__id }}')">✕</button>
                    </div>
                </div>
            {% endfor %}
            
            </div>

            <div class="back-to-shop"><a href="{% url 'core:index' %}">← <span class="text">Back to shop</span></a></div>




        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col tot-items" style="padding-left:0;">{{ total_items }} ITEMS</div>
                <div class="col text-right tot-price">$ 0.00</div>
            </div>
            <form>
                <p>ADDRESS</p>
                <select id="addressSelect">
                    <option value="" class="text-muted">Home</option>
                    <option value="" class="text-muted">Work</option>
                </select>
                <p>Have A Promo Code?</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right tot-price">$ 0.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>

{% endblock %}

{% block additionalScripts %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/cart.css' %}" rel="stylesheet">
    <script src="{% static 'js/cart.js' %}"></script>
    <script>
        updateCart();
    </script>
{% endblock %}