<div class="collapse" id="changePasswordCollapse">
    <div class="card card-body">
      <form method="post" novalidate class="change-password-form">
          {% csrf_token %}
          {% for field in password_form %}
            <label for="{{ field.id_for_label }}" class="form-label">
              {{ field.label }}
            </label>
            {{ field }}
            {% if field.errors %}
              <div class="alert alert-danger mt-2 pb-0">{{ field.errors }}</div>
            {% endif %}
          {% endfor %}
          <button type="submit" name="change_password" class="btn btn-primary">Change Password</button>
      </form>
    </div>
    <hr>
</div>