<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block additionalStyles %}{% endblock %}
    <title>Market | {% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navigation">
    
    <a href="{% url 'core:index' %}" ><img id="logo" class="logo" src="{% static 'images/trlogo.png' %}" alt=""></a>
    <div id="category-dropdown-menu" class="dropdown">
        <a href="#" class="title-categories">Categories</a>
        <div class="dropdown-content">
            {% for category in categories %}
                <a href="{% url 'item:category' category_slug=category.slug %}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>

    <form action="" class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" class="search-input" placeholder="e.g. Potato, Tomato, Orange Juice" name="search" required>
        <input type="submit" class="search-btn" value="search">
    </form>

    <div class="right-nav">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a id="admin-icon" href="{% url 'admin:index' %}" class="admin">
                    <i class="fas fa-address-card"></i>
                </a>
            {% endif %}
            <a id="user-icon" href="{% url 'user:profile' %}" class="user">
                <i class="fas fa-user"></i>
            </a>
            <a id="cart-icon" href="#" class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span>0</span>
            </a>
        {% else %}
            <a id="user-icon" href="{% url 'user:login' %}" class="user">
                <i class="fal fa-user"></i>
            </a>
        {% endif %}
    </div>
</nav>

{% block content %}{% endblock %}
   
    <footer style="padding-bottom: 0px;">
      <div class="footer-container">
          <div class="footer-logo">
              <!--logo-->
              <a href="#" class="logo">
                  Logo buraya gelcek
              </a>
              <div class="footer-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
          </div>
          <div class="footer-links">
              <strong>About</strong>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                  doloremque est laborum impedit necessitatibus rem, ducimus, consectetur eligendi consequatur sint
                  assumenda a unde tempora facilis adipisci cum doloribus repellendus omnis?</p>
          </div>
          <div class="footer-links">
              <strong>Menu</strong>
              <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Term of Use</a></li>
                  <li><a href="#">License</a></li>
              </ul>
          </div>
          <div class="footer-links">
              <strong>Contact</strong>
              <ul>
                  <li><a href="#">Phone : +123456789</a></li>
                  <li><a href="#">Email : abc@gmail.com</a></li>
              </ul>
          </div>
      </div>
      <div class="credit">created by <span> çok güçlü üçlü </span> all rights reserved!</div>
  </footer>

  {% block additionalScripts %}

  
    {% endblock %}
</body>

</html>
