{% extends "layout.html" %}
{% load static %}

{% block additionalStyles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
    
{% endblock %}

{% block title %}Home{% endblock %} 
{% block content%}

    <section id="home-banner">
        
        <img src="{% static 'images/bg-1.png' %}" class="bg-1">
        <img src="{% static 'images/bg-2.png' %}" class="bg-2">
        <img src="{% static 'images/bg-3.png' %}" class="bg-3">
        <div class="home-banner-text">
            <h1>Order your daily groceries</h1>
            <strong># Free Delivery</strong>
        </div>
    </section>

    <section id="category">
        <div class="category-heading">
            <h2>Categories</h2>
        </div>

        <div class="category-container">
            {% for c in categories %}
                <a href="{% url 'item:category' category_slug=c.slug %}" class="category-box">
                    <img src="{{ c.icon.url }}" alt="{{ c.slug }}">
                    <span>{{ c.name }}</span>
                </a>
            {% endfor %}

        </div>
    </section>

    <section id="popular-product">
        <div class="product-heading">
            <h3>Popular products</h3>
        </div>

        <div class="product-container">
            {% for p in popularProducts %}
            <div class="product-box" id="{{ p.slug }}">
                <div class="icons">
                  <a href="#" class="far fa-heart"></a>
                  <a href="{% url 'item:product' product_slug=p.slug %}" class="fas fa-eye"></a>
                </div>
      
                <img src="{{ p.image.url }}" alt="">
                <h3> {{ p.name }}</h3>
                <p class="description multiline">{{ p.description }}
                </p>
                <div class="bottom-section">
                  <div class="price">&#8378;{{ p.price }}</div>
                  <div class="quantity">
                    <span>quantity: </span>
                    <input type="number" min="1" max="10" value="1">
                  </div>
                  {% if user.is_authenticated %}
                  {% csrf_token %}
                  <script src="{% static 'js/addToCart.js' %}"></script>
                  <a class="btn" onclick='dbAddToCart("{{p.slug}}","{% url 'cart:add_item_to_cart' %}")' >add to cart</a>
                  {% else %}
                  <a class="btn" onclick='showErrorModal("Please, login to add product to cart"); openLoginForm();' >add to cart</a>
                  {% endif %}
                </div>
              
              </div>
            
                {% endfor %}
        </div>
    </section>


    <section id="feature">
        <div class="features-heading">
            <h3>Features</h3>
        </div>


        <div class="features-container">

            <div class="feature-box">
                
                <img class="feature-img" src="{% static 'images/feature-img-1.png' %}" alt="">
                <h3>Fresh and Organic</h3>
                <p>Explore our exquisite selection of farm-fresh, organic products. Elevate your lifestyle with nature's goodness, carefully curated for your well-being.</p>
            </div>

            <div class="feature-box">                
                <img class="feature-img" src="{% static 'images/feature-img-2.png' %}" alt="">
                <h3>Free Delivery</h3>
                <p>Enjoy the convenience of complimentary delivery on all orders. Elevate your experience with hassle-free shipping for a seamless shopping journey.</p>
            </div>

            <div class="feature-box">                
                <img class="feature-img" src="{% static 'images/feature-img-3.png' %}" alt="">
                <h3>Pay on Delivery</h3>
                <p>Enjoy hassle-free shopping with our Cash on Delivery option. Pay with ease when your order arrives at your doorstep.</p>
            </div>

        </div>
    </section>

    

{% endblock %}

{% block additionalScripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}