{% extends 'layout.html' %}
{% load static %}

{% block additionalStyles %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}
      <h2 style="margin-left: 5vw;">Search Results : {{ search_text }}</h2>
      {% if products %}
      <div class="product-container">
        {% for product in products %}
        <div class="product-box" id="{{ product.slug }}">
          <div class="icons">
            <a href="#" class="far fa-heart"></a>
            <a href="{% url 'item:product' product_slug=product.slug %}" class="fas fa-eye"></a>
          </div>

          <img src="{{ product.image.url }}" alt="">
          <h3> {{ product.name }}</h3>
          <p class="description multiline">{{ product.description }}
          </p>
          <div class="bottom-section">
            <div class="price">${{ product.price }}</div>
            <div class="quantity">
              <span>quantity: </span>
              <input type="number" min="1" max="100" value="1">
            </div>
            {% if user.is_authenticated %}
            <a class="btn" onclick='dbAddToCart("{{product.slug}}","{% url 'cart:add_item_to_cart' %}")' >add to cart</a>
            {% else %}
                <p class="warn_info">
                  <button onclick="openLoginForm()">login</button> 
                  to add to cart 
                </p>
            {% endif %}
          </div>
        
        </div>
    
        {% endfor %}
      </div>
      {% else %}
        <p style="margin: .5rem 5vw;">No products available related to the search at the moment.</p>
      {% endif %}

{% endblock %}
